:root {
    --blue-intro:  hsl(217, 28%, 15%); 
    --blue-main: hsl(218, 28%, 13%); 
    --blue-footer:  hsl(216, 53%, 9%); 
    --blue-testimonials: hsl(219, 30%, 18%); 
    --white:  hsl(0, 0%, 100%); 
    --cyan-gradient:  hsl(176, 68%, 64%); 
    --blue-gradient: hsl(198, 60%, 50%); 
    --light-red:hsl(0, 100%, 63%); 
    --gradient: linear-gradient(to right, var(--cyan-gradient), var(--blue-gradient));
    --body-font: 'Open Sans', sans-serif;
    --heading-font: 'Raleway', sans-serif;
    --padding-container:60px 0;
}

*, ::after,::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: var(--body-font);
}

.hero{
    background-color: var(--blue-intro);
    position: relative;
}

.container{
    width: 90%;
    /*Para que el contenedor no crezca mas que ese ancho*/
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 0;
    /*Para que todo lo que salga de ese contenedor, se oculte*/
    overflow: hidden;
}

.nav{
    display: flex;
    align-items: center;
}

.nav__logo{
   width: 100px;
}

.nav__img{
    width: 100%;
    display: block;
}

.nav__link{
    display: inline-block;
    color: #fff;
    text-decoration: none;
    margin-left: .6em;
}

/*Toma el primer elemento de ese grupo de elementos*/
.nav__link:first-of-type{
    /*Para que mande a la derecha todos los elementos*/
    margin-left: auto;
}

.hero__picture{
    width: 340px;
    overflow: hidden;
}

.hero__wave{
    /*Para que se posicione encima del .hero__main que esta en relative y ell cual es el contenedor de las imagen, titulo, paragraph y boton*/
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40%;
    background-color: var(--blue-main);
}

/*Para hacer la sombra en forma de ola detras de la imagen*/
.hero__wave::before{
    content: "";
    position: absolute;
    top: -100px;
    width: 100%;
    height: 100%;
    background-image: url("/assets/icon/bg-curvy-mobile.svg");
    background-repeat: no-repeat;
    background-size: 100% 100px;
}

.hero__main{
    color: #fff;
    display: grid;
    /*Para que todos los elementos (imagen, titulo, parrafo y boton) se centren sin la necesidad de utilizar margin o bottom*/
    gap: 1.5em;
    text-align: center;
    /*Para poner hero weave detras se debe colocar este en relative*/
    position: relative
}

.hero__img{
    width: 100%;
    display: block;
}

.hero__title{
    margin-top: .5em;
    font-family: var(--heading-font);
}

.hero__paragraph{
    /* margin: .5em 0; */
    /*Interlineado*/
    line-height: 1.5;
}

.hero_cta{
   width: 250px;
   padding: 1em 0;
   border-radius: 2em;
   /*Funciona ya que es un grid item, el padre es display grid*/
   place-self: center;
   background-image:var(--gradient); 
   color: #fff;
   font-weight: bold;
   font-family: var(--heading-font);
   text-decoration: none;
}



