:root {
    --blue-intro:  hsl(217, 28%, 15%); 
    --blue-main: hsl(218, 28%, 13%); 
    --blue-footer:  hsl(216, 53%, 9%); 
    --blue-testimonials: hsl(219, 30%, 18%); 
    --white:  hsl(0, 0%, 100%); 
    --cyan-gradient:  hsl(176, 68%, 64%); 
    --blue-gradient: hsl(198, 60%, 50%); 
    --light-red:hsl(0, 100%, 63%); 
    --gradient: linear-gradient(to right, var(--cyan-gradient), var(--blue-gradient));
    --body-font: 'Open Sans', sans-serif;
    --heading-font: 'Raleway', sans-serif;
    --padding-container:60px 0;
}

*, ::after,::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: var(--body-font);
    background-color: var(--blue-main);
}

.hero{
    background-color: var(--blue-intro);
    position: relative;
}

.container{
    width: 90%;
    /*Para que el contenedor no crezca mas que ese ancho*/
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 0;
    /*Para que todo lo que salga de ese contenedor, se oculte*/
    overflow: hidden;
}

.nav{
    display: flex;
    align-items: center;
}

.nav__logo{
   width: 100px;
}

.nav__img{
    width: 100%;
    display: block;
}

.nav__link{
    display: inline-block;
    color: #fff;
    text-decoration: none;
    margin-left: .6em;
}

/*Toma el primer elemento de ese grupo de elementos*/
.nav__link:first-of-type{
    /*Para que mande a la derecha todos los elementos*/
    margin-left: auto;
}

.hero__picture{
    min-width: 340px;
    max-width: 600px;
    overflow: hidden;
    margin: 0 auto;
}

.hero__img{
    width: 100%;
    display: block;
    max-width: 600px;
}

.hero__wave{
    /*Para que se posicione encima del .hero__main que esta en relative y ell cual es el contenedor de las imagen, titulo, paragraph y boton*/
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40%;
    background-color: var(--blue-main);
}

/*Para hacer la sombra en forma de ola detras de la imagen*/
.hero__wave::before{
    content: "";
    position: absolute;
    top: -100px;
    width: 100%;
    height: 100%;
    background-image: url("/assets/icon/bg-curvy-mobile.svg");
    background-repeat: no-repeat;
    background-size: 100% 100px;
}

.hero__main{
    color: #fff;
    display: grid;
    /*Para que todos los elementos (imagen, titulo, parrafo y boton) se centren sin la necesidad de utilizar margin o bottom*/
    gap: 1.5em;
    text-align: center;
    /*Para poner hero weave detras se debe colocar este en relative*/
    position: relative
}

.hero__title{
    margin-top: .5em;
    font-family: var(--heading-font);
}

.hero__paragraph{
    /* margin: .5em 0; */
    /*Interlineado*/
    line-height: 1.5;
}

.hero_cta{
   width: 250px;
   padding: 1em 0;
   border-radius: 2em;
   /*Funciona ya que es un grid item, el padre es display grid*/
   place-self: center;
   background-image:var(--gradient); 
   color: #fff;
   font-weight: bold;
   font-family: var(--heading-font);
   text-decoration: none;
}

.about{
    color: #fff;
    /*Para que se centren los elementos*/
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2em;
}


.about__img{
    width: 100px;
    height: 100px;
    object-fit: contain;
    display: block;
    margin: 0 auto;
}

.about__title{
    margin-top: 1.2em;
    margin-bottom: 1em;
    font-family: var(--heading-font);
}

.productive{
    display: grid;
    color: #fff;
    gap: 3em;
}

.productive__picture{
    min-width: 350px;
    max-width: 600px;
    margin: 0 auto;
    
}

.productive__img{
    display: block;
    width: 100%;
}

.productive__title{
    font-family: var(--heading-font);
    margin-bottom: .7em;
}

.productive__paragraph{
    line-height: 1.7;
    margin-bottom: 1em;
}

.productive__cta{
    display: inline-block;
    color: var(--cyan-gradient);
    /*Le da el tamano de linea al cta*/
    line-height: 2.5;
    text-decoration: none;
    border-bottom: 1px solid var(--cyan-gradient);
}

.productive__arrow{
    margin-left: .3em;
    /*Centra verticalmente el contenido del cta o el a */
    vertical-align: middle;
}

.card{
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 2.5em;

}

.card__item{
    background-color: var(--blue-testimonials);
    width: 90%;
    margin: 0 auto;
    padding: 1.5em 1em;
    border-radius: 4px;
    box-shadow: 1px 1px 10px -5px rgb(255, 255, 255, .5) ;
}

/*Para que se pongan las comillas debajo del primer contenedor*/
.card__item--first{
    position: relative;   
}

.card__item--first::before{
    content: "";
    position: absolute;
    top: -30px;
    left: 0;
    width: 30px;
    height: 40px;
    background-image: url(/assets/img/bg-quotes.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    /*Para que la imagen este por detras*/
    z-index: -1;

}

.card__profile{
    margin-top: 1em;
    display: flex; 
    align-items: center;
    gap: 1.5em;
}

.card__picture{
    width: 40px;
    height: 40px;
}

.card__img{
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.card__name{
    font-size: 1.2rem;
    font-family: var(--heading-font);
}

.card__job{
    color: #aaa9a9;
}


.join{
    background-image: linear-gradient(var(--blue-main) 50% , var(--blue-footer) 50%);
    color: #fff;
    padding: 60px 0;
}

.join__container{
    background-color: var(--blue-testimonials);
    border-radius: 8px;
    padding-left:1.5em;
    padding-right: 1.5em;
    text-align: center;
}

.join__title{
    font-family: var(--heading-font);
    margin-bottom: 1em;
}

.join__paragraph{
    line-height: 1.5;
    margin-bottom: 1.5em;
}

.join__form{
    display: grid;
    gap: 1em;
}

.join__input{
    padding: 15px 20px;
    /*Los inputs no heredan el texto, por ende, se le agrega esta info*/
    font: inherit;
    border-radius: 30px;
    outline: none;
    border: none;

}

.join__input--submit{
    background-image: var(--gradient);
    color: #fff;
    font-family: var(--heading-font);
    font-weight: bold;
}

.footer{
    background-color: var(--blue-footer);
    color: #fff;
}

.footer__logo{
    width: 150px;
    display: block;
    margin-bottom: 2em;
}

.footer__content{
    display: grid;
    gap: 1em;
}

.footer__contact{
    display: flex;
    align-items: flex-start;
    gap: 15px;
}

.footer__icon{
    margin-top: 3px;
}

.footer__nav{
    margin-top: 2.5em;
    display: grid;
    gap: .8em;
}

.footer__link{
    text-decoration: none;
    color: #fff;
}

.footer__social{
    margin-top: 2em;
    display: flex;
    justify-content: center;
    
}

.footer__media{
    width: 30px;
    height: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border: 1px solid;
    border-radius: 50%;
    margin-left: 20px;
    
}










